*{
    margin: 0;
    padding: 0;
}
.img1{
    width: 100%;
    height: 600px;
    background-size: cover;
}
.heading{
    position: absolute;
    top: 10%;
    left: 20%;
}
h2{
    font-size: 3rem;
    color: white;
}span{
    font-size: 1.5rem;
    font-weight: 700;
}
h1{
    font-size: 3rem;
    color: whitesmoke;
    margin-top: 20px;
}
.second-part{
    height: 120px;
    background-color: black ;
    color: whitesmoke;
    text-align: center;
    font-size: 4rem;
    font-style: italic;
}
.second-para{
    padding: 20px;
}
.second-para2{
    font-size: 5rem;
}
.box-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.box{
    height: 400px;
    width: 350px;
    border: 2px solid black;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
}
.box:hover{
    transform: scale(1.05);
    transition: 2s;
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
}
.box-img{
    width: 100%;
}
h6{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 10px;
    padding: 10px;
}
.box-para{
    text-align: justify;
    padding: 10px;
    font-weight: 700;
    margin-top: -10px;
}
.float-left{
    float: left;
    width: 50%;
    height: 250px;
    background-color: green;
}
h5{
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
}
.text-2{
    margin: 30px;
}
.float-para{
    padding-top: 20px;
}

.float-right{
    width: 50%;
    height: 250px;
    float: right;
    background-color: maroon;
}
footer{
    background-color: black;
    line-height: 70px;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

@media (max-width:786px){
    .img1{
        min-height: 50vh;
        max-width: 100%;
    }
    h1{
        font-size: 1.5rem;
    }
    .second-part{
        font-size: 1.5rem;
        padding-top: 20px;
    }
    .second-para2{
        font-size: 1.8rem;
    }
}